name: Build & Push to GHCR

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

env:
  # GHCR wymaga małych liter w nazwie obrazu
  IMAGE_NAME: ghcr.io/npexe/friendfromdis-v2

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "21"

      - name: Make mvnw executable
        run: chmod +x mvnw

      - name: Build JAR
        run: ./mvnw -B -DskipTests package

      - name: Log in to GHCR
        run: echo "${{ secrets.GHCR_TOKEN }}" | docker login ghcr.io -u "${{ secrets.GHCR_USERNAME }}" --password-stdin
      - name: Build Docker image
        run: |
          SHORT_SHA=$(echo "${GITHUB_SHA}" | cut -c1-7)
          docker build -t $IMAGE_NAME:latest -t $IMAGE_NAME:$SHORT_SHA .

      - name: Push Docker image
        run: |
          SHORT_SHA=$(echo "${GITHUB_SHA}" | cut -c1-7)
          docker push $IMAGE_NAME:latest
          docker push $IMAGE_NAME:$SHORT_SHA

      - name: Print info
        run: |
          echo "✅ Successfully pushed images:"
          echo " - $IMAGE_NAME:latest"
          echo " - $IMAGE_NAME:$(echo $GITHUB_SHA | cut -c1-7)"
